html {
    height:100%;
}

body {
    height:100%;
    margin:0;
    padding:0;

    background:$color-bg;
    font-family:$font-family;
    font-size:$font-size;
    letter-spacing:$letter-spacing;
    line-height:$line-height;
    color:$color-text;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color:$color-link;
    cursor:pointer;
    text-decoration: none;

    &:hover, &:focus {
        color:$color-link-hover;
        text-decoration:underline;
    }
}

* {
    &:focus {
        outline:none !important;
    }
}

*::selection {
    background:$color-primary;
    background:rgba(0,0,0,0.3);
    color:#fff;
}
*::-moz-selection {
    background:$color-primary;
    color:#fff;
}

.not-found {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tpa-video-wrapper {
    position: relative;
    padding-bottom: 179.25%;
    /* padding-top: 25px; */
    height: 0;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}