.tpa-loader {
    color:transparent;
    background:$color-primary;

    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%,-50%);

    &:before, &:after, span:before {
        content:"";
        position:absolute;
        top:50%;
        left:50%;
        display:block;
        height:80px;
        width:80px;
        margin:-40px 0 0 -40px;

        border:1px $color-base solid;
        opacity:0.3;
    }

    &:before {
        transform:rotate(-45deg);
        animation:tpa-btn-loading-rev 0.6s linear infinite 0.2s;
    }

    &:after {
        opacity:0.6;
        transform:rotate(-15deg);
        animation:tpa-btn-loading 0.6s linear infinite 0.1s;
    }

    span:before {
        opacity:0.9;
        transform:rotate(-75deg);
        animation:tpa-btn-loading-rev 0.6s linear infinite;
    }
}
