@import 'variables.scss';

.tpa-navbar {
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:100;

    color:$color-text;
    text-align:center;

    @media (min-width:$screen-sm-min) {
        background:$color-base;

        position:fixed;
    }

    &.-inverse {
        color:$color-base;

        @media (min-width:$screen-sm-min) {
            color:$color-text;
        }
    }

    &.-inverse &-logo {
        color:$color-text;
    }

    &-outer {
        min-height:100%;
        padding-top:0;

        @media (min-width:$screen-sm-min) {
            padding-top:69px;
        }
    }

    &-inner {
        display:table;
        width:100%;
    }

    &-left {
        display:table-cell;
        vertical-align:middle;
        text-align:center;

        @media (min-width:$screen-sm-min) {
            text-align:left;
        }
    }

    &-right {
        display:table-cell;
        vertical-align:middle;
        text-align:right;
    }

    &-logo {
        display:inline-block;
        vertical-align:middle;
        margin:20px 0 20px 0;

        color:$color-base;

        font-size:14px;
        font-weight:900;
        letter-spacing:3.53px;
        text-transform:uppercase;

        transition:all 0.3s;

        small {
            position:relative;
            top:-3px;
            left:5px;
            font-size:9px;
            font-weight:normal;
            letter-spacing:2px;
            text-transform:lowercase;
        }

        &:hover, &:focus {
            color:inherit;
            text-decoration:none;
        }

        @media (min-width:$screen-sm-min) {
            margin:0 0 0 40px;
            color:inherit;
        }
    }

    &-nav {
        position:relative;
        display:none;

        @media (min-width:$screen-sm-min) {
            display:inline-block;
        }

        &-menu {
            white-space:nowrap;

            @media (min-width:$screen-sm-min) {
                display:inline-block;
            }

            transition:all 0.3s;

            &-item {
                position:relative;
                display:inline-block;
                z-index:1;

                color:inherit;
                padding:0 12px;
                margin:0 0 0 0;
                font-size:14px;
                font-weight:bold;
                letter-spacing:1.17px;
                line-height:23px;
                vertical-align:middle;

                transition:.2s;

                @media (min-width:850px) {
                    margin:0 0 0 0;
                    padding:0 18px;
                }

                @media (min-width:$screen-md-min) {
                    margin:0 0 0 0;
                    padding:0 35px;
                }

                i {
                    position:relative;
                    top:1px;
                    font-size:20px;
                }

                b {
                    font-weight:normal;
                }

                &:hover, &:focus {
                    text-decoration:none;
                    &:after {
                        width:100%;
                    }
                }

                &:after {
                    content:'';
                    position:absolute;
                    left:0;
                    top:12px;
                    background:$color-text;
                    width:0;
                    height:1px;
                    max-width:calc(100% - 70px);
                    transition:.5s;
                    margin-left:34px;
                }

                &-icon {
                    display:inline-block;
                    margin:0 8px 0 0;

                    font-size:18px;
                    line-height:1;
                    vertical-align:middle;

                    &.-danger {
                        color:#F00000;
                    }
                }

                &.-icon {
                    margin:0 16px 0 0;

                    @media (min-width:$screen-md-min) {
                        margin:0 33px 0 0;
                    }
                }

                &.-active {
                    &:after {
                        width:100%;
                    }
                }

                &.-hover {
                    color:$color-muted;

                    transition:.2s;

                    &:after {
                        background:$color-muted;
                    }
                }
            }
        }
    }
}

@keyframes tpa-navbar-nav-menu-item-active {
    from {
        width:0;
    }
    to {
        width:100%;
    }
}