.tpa-submission {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: table;

    &-container {
        padding: 69px 0px 0px 0px;
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        vertical-align: middle;
        text-align: center;
        margin: auto;

        &-header {
            font-family: $font-family-secondary;
            color: black;
            font-weight: bold;
            font-size: 41px;
            line-height: 48px;
            letter-spacing: -1.38px;

            margin-bottom: 26px;
            text-transform: uppercase;

            @media (min-width: $screen-sm) {
                font-size: 90px;
                line-height: 107.8px;
                margin-bottom: 60px;
                margin-top: 63px;
            }
        }

        @media (min-width: $screen-sm) {
            padding: 69px 40px 0px 40px;
            text-align: left;
            width: 100%;
        }

        @media (min-width: $screen-lg) {
            padding: 69px 60px 0px 60px;
        }

        @media (min-width: $screen-xl) {
            padding: 69px 0px 0px 0px;
            width: 1280px;
        }
    }

    &-payment {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        vertical-align: top;
        margin: 0px auto 0px auto;
        padding-top: 34px;
        padding-bottom: 45px;
        border: 1px solid rgba(255,255,255,.5);
        transition: background-color .3s, border .3s;

        &:hover {
            background-color: rgba(255,255,255,.3);
            border: 1px solid transparent;
        }

        @media (min-width: $screen-sm) {
            display: inline-block;
            width: 322px;
            height: 510px;
            margin: 0px 0px 0px 0px;
            padding-top: 0px;
        }

        @media (min-width: $screen-md) {
            width: 430px;
            height: 510px;
            padding-bottom: 0px;
        }

        @media (min-width: $screen-xl) {
            height: 605px;
        }

        &.-left {
            margin: 0px auto 30px auto;

            @media (min-width: $screen-sm) {
                // inline-block elements left offset is ~3px. 40 - 3 = 37.
                margin: 0px 37px 0px 0px;
            }

            @media (min-width: $screen-lg) {
                margin: 0px 27px 0px 0px;
            }

            @media (min-width: $screen-xl) {
                margin: 0px 47px 0px 0px;
            }
        }

        &.-right {

        }

        &-header {
            font-family: $font-family-secondary;
            text-transform: uppercase;
            color: white;
            font-weight: bold;

            font-size: 41px;
            line-height: 77px;
            letter-spacing: -1.48px;
            margin-top: 0px;

            @media (min-width: $screen-sm) {
                font-size: 71px;
                line-height: 77px;
                letter-spacing: -2.56px;
                margin-top: 34px;
            }

            @media (min-width: $screen-lg) {
                font-size: 81px;
                letter-spacing: -2.92px;
                margin-top: 34px;
            }

            @media (min-width: $screen-xl) {
                margin-top: 64px;
            }
        }

        &-line {
            width: 54px;
            height: 2px;
            background-color: white;
            margin: 10px auto 25px auto;

            @media (min-width: $screen-sm) {
                width: 54px;
                height: 2px;
                background-color: white;
                margin: 25px auto 25px auto;
            }
        }

        p {
            width: 242px;
            margin: auto;
            color: white;
            font-family: $font-family;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 1px;

            @media (min-width: $screen-sm) {
                width: 280px;
            }

            @media (min-width: $screen-md) {
                width: 330px;
            }
        }

        &-advantages {
            display: inline-block;
            margin: 30px auto 0px auto;

            &-item {
                margin-bottom: 13px;
                float: left;
                clear: both;
            }

            &-icon {
                display: inline-block;
                margin-right: 20px;

                i {
                    font-size: 10px;
                    font-weight: bold;
                    color: white;
                    width: 13.34px;
                    height: 8.5px;
                }
            }

            &-text {
                font-family: $font-family;
                display: inline-block;
                color: white;
                font-weight: bold;
                font-size: 14px;
                line-height: 26px;
                letter-spacing: 0.88px;
            }
        }

        &-button {
            display: inline-block;
            position: relative;
            bottom: 0px;
            width: 141px;
            height: 54px;
            left: 0px;
            margin-left: 0px;
            margin: 25px auto 0px auto;
            line-height: 54px;
            text-align: center;
            font-size: 14px;
            letter-spacing: 0.88px;
            font-family: $font-family-secondary;
            font-weight: bold;
            border: 1px solid white;
            color: white;
            cursor: pointer;
            background-color: transparent;
            transition: color .3s, color .3s, background-color .3s;

            &:hover {
                background-color: white;
                color: black;
                text-decoration: none;
            }

            @media (min-width: $screen-sm) {
                position: absolute;
                left: 50%;
                margin-left: -96.5px;
                bottom: 30px;
                width: 193px;
                height: 60px;
                line-height: 60px;
                font-size: 15px;
                letter-spacing: 0.94px;
            }

            @media (min-width: $screen-xl) {
                bottom: 64px;
            }
        }
    }

    &-tabs {
        display: none;

        &-item {
            display: table;
            height: 39px;
            float: left;
            margin-right: 45px;
            margin-bottom: 40px;
        }

        &-text {
            display: table-cell;
            vertical-align: middle;
            text-transform: uppercase;
            line-height: 39px;
            font-family: $font-family;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: 1px;
            color: #c9c8c8;

            &.-active {
                color: #eb0000;
            }
        }

        @media (min-width: $screen-sm) {
            display: block;
        }
    }

    &-content {
        padding: 0px 20px 0px 20px;
        background-color: white;
        clear: left;
        position: relative;

        &-fields {
            width: 100%;
            height: 100%;

            padding: 35px 0px 35px 0px;

            @media (min-width: $screen-sm) {
                padding: 50px 0px 50px 40px;
            }

            .tpa-form-notice{
                position: absolute;
                text-align: left;
            }
        }

        .tpa-intro-addbox-submit {
            display: block;
            position: relative;
            width: 100%;
            height: 54px;
            right: 0px;
            bottom: 0px;
            margin: 32px auto 0px auto;

            button {
                width: 100%;
                vertical-align: top;
                display: inline-block;
                height: 100%;
                line-height: 54px;
                padding: 0px;
                font-family: $font-family-secondary;
                letter-spacing: .94px;

                @media (min-width: $screen-sm) {
                    width: 160px;
                }
            }

            i {
                font-size: 12px;
                display: none;
            }

            @media (min-width: $screen-sm) {
                display: inline-block;
                position: absolute;
                width: 140px;
                height: 60px;
                right: 0px;
                bottom: 50px;
                margin: 0px 0px 0px 0px;

                button {
                    line-height: 60px;
                }

                i {
                    display: initial;
                }
            }
        }

        &-input {
            margin: auto;
            width: 100%;
            display: inline-block;
            height: 60px;
            position: relative;

            @media (min-width: $screen-sm) {
                width: 468px;
                margin: 0px;
            }

            @media (min-width: $screen-md) {
                width: 700px;
                margin: 0px;
            }

            &-placeholder {
                color: rgba(0,0,0,.3);
                position: absolute;
                font-size: 14px;
                top: 24px;
                left: 16px;
                transition: top .2s;
                z-index: 0;
            }

            &.-secondary {
                display: block;
                margin: 0px auto 30px auto;
                width: 100%;

                @media (min-width: $screen-sm) {
                    display: inline-block;
                    width: 100%;
                    // - 3px, inline-block
                    //margin-right: 17px;
                    margin: 0px 17px 30px 0px;
                }

                @media (min-width: $screen-md) {
                    display: inline-block;
                    vertical-align: top;
                    width: 360px;
                    //margin-right: 17px;
                    margin: 0px 17px 0px 0px;
                }
            }
        }

        input[type="text"] {
            width: 100%;
            height: 60px;
            border: 1px solid #e0e0e0;
            font-family: $font-family;
            color: black;
            font-size: 14px;
            letter-spacing: 0.78px;
            padding-left: 16px;
            font-weight: 500;
            z-index: 1;
            position: absolute;
            left: 0px;
            background-color: transparent;
            padding-top: 0px;

            transition: padding-top .2s;
        }

        input[type="text"]:focus {
            padding-top: 23px;
        }

        input[type="text"]:valid {
            padding-top: 23px;
        }

        input[type="text"]:focus + .tpa-submission-content-input-placeholder {
            top: 12px;
        }

        input[type="text"]:valid + .tpa-submission-content-input-placeholder {
            top: 12px;
        }

        &-gallery {
            position: relative;
            padding: 50px 0px 50px 0px;
            background-color: #fafafa;

            .tpa-material-screen-img-item {
                margin: 0px 0px 0px 0px;
                height: 301px;
                width: 170px;
                overflow: hidden;
            }

            .owl-stage {
                @media (min-width: $screen-sm) {
                    margin-left: 50px;
                }
            }

            .owl-item {
                opacity: .3 !important;

                &.center {
                    opacity: 1 !important;
                }

                @media (min-width: $screen-sm) {
                    opacity: 1 !important;
                }
            }

        }

        &-cards {
            position: relative;
            right: 0px;
            bottom: 0px;
            margin: 31px auto 31px auto;
            text-align: center;

            @media (min-width: $screen-sm) {
                position: absolute;
                right: 328px;
                bottom: 74px;
                margin: 0px 0px 0px 0px;
            }
        }

        @media (min-width: $screen-sm) {
            padding: 0px 0px 0px 0px;
        }
    }

    &-title {
        margin-bottom: 40px;

        &-icon {
            display: inline-block;
            font-size: 22px;
            position: relative;
            top: -4px;
        }

        &-name {
            display: inline-block;
            margin-left: 18px;
            font-family: $font-family-secondary;
            font-size: 30px;
            letter-spacing: 0px;
            line-height: 35px;
            font-weight: bold;
            margin-bottom: 10px;

            @media (min-width: $screen-sm) {
                font-size: 37px;
                line-height: 43px;
            }
        }

        &-by {
            margin-left: 20px;
            color: #c9c8c8;
            font-size: 15px;
            line-height: 16px;
            letter-spacing: .52px;
        }

        &-dev {
            display: inline-block;
            color: black;
        }
    }

    &.-step_1 {
        display: table;
        background-color: #00e1f2;

        .tpa-submission-container {
            display: table-cell;
            width: 100%;
            text-align: center;
            padding: 83px 20px 75px 20px;
        }
    }

    &.-step_2 {
        display: table;
        background-color: #f2f2f2;
        height: 100vh;
    }

    &.-step_3 {
        display: block;
        background-color: #f2f2f2;

        .tpa-submission-content {
            text-align: left;
            padding: 0px 0px 181px 0px;
            margin-bottom:100px;
        }

        .tpa-submission-content-fields {
            padding: 50px 20px 20px 20px;

            @media (min-width: $screen-sm) {
                padding: 50px 40px 20px 40px;
            }

            @media (min-width: $screen-md) {
                padding: 50px 0px 50px 40px;
            }
        }

        .tpa-intro-addbox-submit {
            padding: 0px 20px 0px 20px;
            margin: 0px auto 0 auto;

            &-message{
                font-size: 12px;
                letter-spacing: 0.67px;
                opacity: 0.3;
                margin: 45px 0 10px 0;

                @media (min-width: $screen-sm) {
                    margin: 0 0 10px 0;
                }
            }

            .tpa-form-notice {
                position: absolute;
            }

            @media (min-width: $screen-sm) {
                margin: 32px auto 0 auto;
                padding: 0px 0px 0px 0px;
                bottom: 57px;
                //width: 287px;
                width: 610px;

                .tpa-submission-content-input.-secondary {
                    margin: 0;
                    width: 450px;
                }
            }
        }
    }
}
