.tpa-svgsprite {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
    vertical-align: middle;

	/*
    &.-aotd {
    	font-size:(53/10)*1rem;
    	width:(62/53)*1em;
    }
    
    &.-apple {
    	font-size:(162/10)*1rem;
    	width:(136.5/162)*1em;
    }
    
    &.-arrow-down {
    	font-size:(16/10)*1rem;
    	width:(12/16)*1em;
    }
    
    &.-arrow-left {
    	font-size:(12/10)*1rem;
    	width:(16/12)*1em;
    }
    
    &.-arrow-right {
    	font-size:(12/10)*1rem;
    	width:(16/12)*1em;
    }
    
    &.-arrow-up {
    	font-size:(16/10)*1rem;
    	width:(12/16)*1em;
    }
    
    &.-bell {
    	font-size:(20/10)*1rem;
    	width:(21/20)*1em;
    }
    
    &.-calendar {
    	font-size:(18/10)*1rem;
    	width:(18/18)*1em;
    }
    
    &.-caret-down {
    	font-size:(6/10)*1rem;
    	width:(13/6)*1em;
    }
    
    &.-caret-left {
    	font-size:(13/10)*1rem;
    	width:(6/13)*1em;
    }
    
    &.-caret-right {
    	font-size:(13/10)*1rem;
    	width:(6/13)*1em;
    }
    
    &.-caret-up {
    	font-size:(6/10)*1rem;
    	width:(13/6)*1em;
    }
    
    &.-check {
    	font-size:(18/10)*1rem;
    	width:(24/18)*1em;
    }
    
    &.-check-bold {
    	font-size:(8/10)*1rem;
    	width:(11/8)*1em;
    }
    
    &.-check-thin {
    	font-size:(16/10)*1rem;
    	width:(24/16)*1em;
    }
    
    &.-chevron-down {
    	font-size:(8/10)*1rem;
    	width:(14/8)*1em;
    }
    
    &.-chevron-left {
    	font-size:(14/10)*1rem;
    	width:(8/14)*1em;
    }
    
    &.-chevron-right {
    	font-size:(14/10)*1rem;
    	width:(8/14)*1em;
    }
    
    &.-chevron-up {
    	font-size:(8/10)*1rem;
    	width:(14/8)*1em;
    }
    
    &.-clock {
    	font-size:(16/10)*1rem;
    	width:(16/16)*1em;
    }
    
    &.-clone {
    	font-size:(16/10)*1rem;
    	width:(16/16)*1em;
    }
    
    &.-cog {
    	font-size:(19/10)*1rem;
    	width:(19/19)*1em;
    }
    
    &.-cup {
    	font-size:(19/10)*1rem;
    	width:(21/19)*1em;
    }
    
    &.-dots {
    	font-size:(18/10)*1rem;
    	width:(4/18)*1em;
    }
    
    &.-edit {
    	font-size:(20/10)*1rem;
    	width:(20/20)*1em;
    }
    
    &.-envelope {
    	font-size:(26/10)*1rem;
    	width:(38/26)*1em;
    }
    
    &.-facebook {
    	font-size:(15/10)*1rem;
    	width:(9/15)*1em;
    }
    
    &.-google-play {
    	font-size:(9.6/10)*1rem;
    	width:(9/9.6)*1em;
    }
    
    &.-google-plus {
    	font-size:(14/10)*1rem;
    	width:(22/14)*1em;
    }
    
    &.-heart {
    	font-size:(15/10)*1rem;
    	width:(17/15)*1em;
    }
    
    &.-home {
    	font-size:(20/10)*1rem;
    	width:(20/20)*1em;
    }
    
    &.-link {
    	font-size:(24/10)*1rem;
    	width:(24/24)*1em;
    }
    
    &.-long-arrow-down {
    	font-size:(61/10)*1rem;
    	width:(17/61)*1em;
    }
    
    &.-long-arrow-left {
    	font-size:(17/10)*1rem;
    	width:(61/17)*1em;
    }
    
    &.-long-arrow-right {
    	font-size:(17/10)*1rem;
    	width:(61/17)*1em;
    }
    
    &.-long-arrow-up {
    	font-size:(61/10)*1rem;
    	width:(17/61)*1em;
    }
    
    &.-nominee {
    	font-size:(21/10)*1rem;
    	width:(23/21)*1em;
    }
    
    &.-pencil {
    	font-size:(16/10)*1rem;
    	width:(16/16)*1em;
    }
    
    &.-plus {
    	font-size:(12/10)*1rem;
    	width:(12/12)*1em;
    }
    
    &.-refresh {
    	font-size:(14/10)*1rem;
    	width:(13/14)*1em;
    }
    
    &.-saturn {
    	font-size:(56/10)*1rem;
    	width:(58/56)*1em;
    }
    
    &.-share {
    	font-size:(18/10)*1rem;
    	width:(20/18)*1em;
    }
    
    &.-star {
    	font-size:(18/10)*1rem;
    	width:(19/18)*1em;
    }
    
    &.-times {
    	font-size:(12/10)*1rem;
    	width:(12/12)*1em;
    }
    
    &.-times-thin {
    	font-size:(26/10)*1rem;
    	width:(26/26)*1em;
    }
    
    &.-twitter {
    	font-size:(13/10)*1rem;
    	width:(17/13)*1em;
    }
    
    &.-upload {
    	font-size:(18/10)*1rem;
    	width:(23/18)*1em;
    }
    
    &.-user {
    	font-size:(20/10)*1rem;
    	width:(18/20)*1em;
    }
    
    &.-vk {
    	font-size:(11/10)*1rem;
    	width:(20/11)*1em;
    }
    */
}
