/* Main Colors */
$color-base: #fff;
$color-primary: #0A0A0A;
$color-secondary: #F3F3F3;
$color-tertiary:#D72718;
$color-quaternary:#1FDDEF;
$color-senary:#999999;
$color-eighth:#433A9A;

$color-fill: #F5F5F5;
$color-smooth: #9B9B9B;
$color-muted: #C9C8C8;
$color-disabled: #E9E9EA;
$color-bg-primary: #F3F3F3;

$color-error: #FF6B7D;
$color-info: #4E82F2;
$color-success: #1FE59D;
$color-warning: #EB0000;
$color-danger: $color-error;

$color-bg: $color-base;
$color-text: #000;
$color-link: #333;
$color-link-hover: $color-link;

/* Fonts */
$font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
$font-family-secondary: "Roboto Condensed", sans-serif;
$font-family-third: "Source Code Pro", monospace;
$font-family-four: "Source Code Pro", sans-serif;
$font-size: 14px;
$font-weight: 400;
$letter-spacing: 0.4px;
$line-height: 1;

/* Screen sizes */
$screen-xs: 375px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xl: 1600px;
$screen-max: 414pt;

$screen-xs-min: 375px;
$screen-sm-min: 768px;
$screen-md-min: 1024px;
$screen-lg-min: 1280px;

$screen-xl-min: $screen-xl;
$screen-lg-max: ($screen-xl-min - 1);
